
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/FileUpload/Upload" method="post" enctype="multipart/form-data">
            <div>Hình ảnh: </div>
            <input type="file" name="image" />
            <input type="submit" value="Upload" />
        </form>
    </div>
</body>
</html>
